

</body>
<script src="js/Highcharts-11.2.0/code/highcharts.js"></script>
<script src="js/Highcharts-11.2.0/code/modules/series-label.js"></script>

<script src="js/Highcharts-11.2.0/code/modules/exporting.js"></script>
<script src="js/Highcharts-11.2.0/code/modules/export-data.js"></script>
<script src="js/Highcharts-11.2.0/code/modules/accessibility.js"></script>

<script type="text/javascript" src="js/chroma.js"></script>

<script type="text/javascript" src="js/poly.js"></script>
<script type="text/javascript" src="js/vtk_js.js"></script>
<script type="text/javascript" src="js/vtklocal.js"></script>



<script src="js/cornerstone.min.js"></script>
<SCRIPT src="js/cornerstoneMath.min.js"></SCRIPT>
<SCRIPT src="js/cornerstoneTools.min.js"></SCRIPT>
<SCRIPT src="js/cornerstoneWebImageLoader.js"></SCRIPT>


<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="js/dicomParser.min.js"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="js/dist/cornerstoneWADOImageLoader.bundle.min.js"></script>

<!-- uids -->
<script src="js/uids.js"></script>

<!-- Lines ONLY required for this example to run without building the project -->
<script>window.cornerstoneWADOImageLoader || document.write('<script src="https://unpkg.com/cornerstone-wado-image-loader">\x3C/script>')</script>
<script src="js/utils/initializeWebWorkers.js"></script>
<script src="js/dojo-release-1.17.3/dojo/dojo.js"  data-dojo-config="parseOnLoad:true"></script>


<script type="text/javascript" src="js/dojo-release-1.17.3/dojox/image/ThumbnailPicker.js"></script>

<script src="js/linq.js"></script>

<!-- <script src="js/panzoom.js"></script> -->
<script src="js/websocket.js"></script>


<script src="js/script.js"></script>
<script src="js/thumb.js"></script>

<script src="js/tree.js"></script>
<script src="js/jqueryv3.7.1.js"></script>
<script src="js/canvas2.js"></script>


<script src="js/plotCharts.js"></script>

<script src="js/cnnMath.js"></script>

</html>